/aws-glue/output/
/aws-glue/Untitled.ipynb
/help/sql.docx
/help/How to host your git repository on OneDrive – Per Mikkelsen.pdf
/help/aws-glue.docx
/aws-glue/.ipynb_checkpoints/
/tools/spark-3.1.2-bin-hadoop2.7.tgz
